/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UniversBold";
  src: url("/fonts/universbold2.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "UniversBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
